@font-face {
    font-family: "flaticon";
    src: url("../font/flaticon.ttf?33b09289980232f508dd5696588f57a6") format("truetype"),
url("../font/flaticon.woff?33b09289980232f508dd5696588f57a6") format("woff"),
url("../font/flaticon.woff2?33b09289980232f508dd5696588f57a6") format("woff2"),
url("../font/flaticon.eot?33b09289980232f508dd5696588f57a6#iefix") format("embedded-opentype"),
url("../font/flaticon.svg?33b09289980232f508dd5696588f57a6#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-boy-laying-down-with-legs-up:before {
    content: "\f101";
}
.flaticon-buddhist-yoga-pose:before {
    content: "\f102";
}
.flaticon-exercise:before {
    content: "\f103";
}
.flaticon-help:before {
    content: "\f104";
}
.flaticon-man-boxing:before {
    content: "\f105";
}
.flaticon-man-doing-yoga:before {
    content: "\f106";
}
.flaticon-man-jumping-rope:before {
    content: "\f107";
}
.flaticon-man-lifting-weight:before {
    content: "\f108";
}
.flaticon-pull-up:before {
    content: "\f109";
}
.flaticon-sitting-cartoon-man-carrying-dumbbell-side-view:before {
    content: "\f10a";
}
